@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin animation-name($aniname) {
  -o-animation-name: $aniname;
  -ms-animation-name: $aniname;
  -webkit-animation-name: $aniname;
  animation-name: $aniname;
}

@mixin animation-duration($duration) {
  -o-animation-duration: $duration;
  -ms-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin animation-duration($duration) {
  -o-animation-duration: $duration;
  -ms-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin animation-timing-function($timing) {
  -o-animation-timing-function: $timing;
  -ms-animation-timing-function: $timing;
  -webkit-animation-timing-function: $timing;
  animation-timing-function: $timing;
}

@mixin animation-iteration-count($count) {
  -o-animation-iteration-count: $count;
  -ms-animation-iteration-count: $count;
  -webkit-animation-iteration-count: $count;
  animation-iteration-count: $count;
}

.float {
  width: 100%;
  @include center(true, true);

  &.superior-direito {
    right: 0;
    top: 100px;
    width: auto;
    left: auto;
  }

  &.superior-esquerdo {
    left: 100px;
    top: 100px;
    width: auto;
  }

  &.centro-esquerdo {
    width: 550px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) !important;
  }

  &.centro-superior {
    width: auto;
    transform: matrix;
    top: 50px;
  }

  &.centro-direito {
    right: 100px;
    width: auto;
    left: auto;
  }

  &.inferior-esquerdo {
    left: 100px;
    bottom: 100px;
    width: auto;
    transform: initial;
    top: auto;
  }

  &.inferior-direito {
    right: 100px;
    bottom: 100px;
    width: auto;
    transform: initial;
    top: auto;
    left: auto;
  }
}

.go-up {
  @include animation-name(go-up);
  @include animation-iteration-count(1);
  @include animation-timing-function(cubic-bezier(.55, 0, .1, 1));
  @include animation-duration(0.3s);

  &.delay-1 {
    @include animation-duration(0.5s);
  }

  &.delay-2 {
    @include animation-duration(0.7s);
  }

  &.delay-3 {
    @include animation-duration(0.9s);
  }

  &.delay-4 {
    @include animation-duration(1.1s);
  }

  &.delay-5 {
    @include animation-duration(1.3s);
  }

  &.delay-6 {
    @include animation-duration(1.5s);
  }

  &.delay-7 {
    @include animation-duration(1.7s);
  }

  &.delay-8 {
    @include animation-duration(1.9s);
  }

  &.delay-9 {
    @include animation-duration(2.1s);
  }

  &.delay-10 {
    @include animation-duration(2.3s);
  }
}

.go-down {
  @include animation-name(go-down);
  @include animation-iteration-count(1);
  @include animation-timing-function(cubic-bezier(.55, 0, .1, 1));
  @include animation-duration(0.3s);

  &.delay-1 {
    @include animation-duration(0.5s);
  }

  &.delay-2 {
    @include animation-duration(0.7s);
  }

  &.delay-3 {
    @include animation-duration(0.9s);
  }

  &.delay-4 {
    @include animation-duration(1.1s);
  }

  &.delay-5 {
    @include animation-duration(1.3s);
  }

  &.delay-6 {
    @include animation-duration(1.5s);
  }

  &.delay-7 {
    @include animation-duration(1.7s);
  }

  &.delay-8 {
    @include animation-duration(1.9s);
  }

  &.delay-9 {
    @include animation-duration(2.1s);
  }

  &.delay-10 {
    @include animation-duration(2.3s);
  }
}

.blink {
  animation: blink 1s linear infinite;
}

@keyframes go-up {
  0% {
    transform: translateY(80px);
    opacity: 0;

  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes go-down {
  0% {
    transform: translateY(-80px);
    opacity: 0;

  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;

  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.titulo {
  padding: 10px 0;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

.subtitulo {
  text-align: center;
  background-color: #222;
  border-radius: 3px;
  color: #FFFFFF;
  margin: 8px;
  font-size: 12px;
  padding: 20px;
}

body {
  background-color: transparent !important;
  background-size: cover !important;
}

.botao {
  text-align: left;
  width: auto;
  padding: 12px 10px 12px 30px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255,255,255,0.05);
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)) ,color-stop(70%, rgba(0,0,0,1)), to(rgba(0, 0, 0, 1)));
  border-bottom: 2px solid rgba(255,255,255,.2);
  border-left: 2px solid rgba(255,255,255,.2);
  border-top: 2px solid rgba(255,255,255,.2);
  text-align: left;
}

.campo {
  background-color: #444;
  border: none;
  color: #ccc;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)) ,color-stop(90%, rgba(0,0,0,1)), to(rgba(0, 0, 0, 1)));

  &::placeholder {
    color: #666;
    opacity: 1;
  }
}
